
nav {
  width: 100%;
  height: 80px;
  padding: 16px;
  display: flex;
  gap: 30px;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  opacity: 0.95;
  z-index: 1000;
}

.logo-and-social-icons-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  column-gap: 15px;
  row-gap: 10px;
}

.logo-img {
  height: auto;
  max-height: 30px;
  width: 100%;
  max-width: 460px;
  opacity: 0.75;
}

.logo-img:hover {
  opacity: 1;
}

.social-icons-container {
  display: inline-flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.social-icons-container > a {
  color: rgba(255, 255, 255, .75);
  opacity: 0.75;
  text-decoration: none;
  background-color: transparent;
  font-size: 1.25rem;
}

.social-icons-container > a:hover {
  color: white;
}

.spotlight-icon {
  opacity: 0.65;
  position: relative;
  bottom: 1px;
}

.spotlight-icon:hover {
  opacity: 0.85;
}

.nav-links-container {
  display: inline-flex;
  flex-wrap: nowrap;
  gap: 15px;
  flex-grow: 1;
  justify-content: end;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 15px;
}

.nav-links-container a {
  display: inline-flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 0.9em;
  font-weight: 900;
  color: rgba(255, 255, 255, .75);
  text-decoration: none;
  background-color: transparent;
  width: 100%;
}

.nav-links-container a.hamburger {
  display: none;
  width: 20px;
}

.nav-links-container a:hover {
  color: white;
}

.hamburger > i {
  font-size: 1.3rem;
}

@media (max-width: 700px) {
  .nav-links:not(.shown-on-phone) {
    display: none;
  }

  .nav-links-container a.hamburger {
    display: inline-flex;
  }

  .nav-links.shown-on-phone {
    top: 80px;
    left: 0px;
    position: absolute;
    top: 80px;
    left: 0px;
    width: 100%;
    flex-direction: column;
    background: black;
    align-items: start;
    padding: 15px;
  }
}
